# Virtual environments
.venv/
venv/
env/
.github/
# Python cache
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Jupyter
.ipynb_checkpoints/

.gemini/
gha-creds-*.json
